<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testing">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">

        <activity android:name=".select"
            android:screenOrientation = "portrait"/>

        <activity
            android:name=".mainactivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name =".report"
            android:enabled="true"
            android:screenOrientation = "portrait">
        </activity>

        <receiver android:name=".report$breceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <activity
            android:name=".signingup"
            android:screenOrientation="portrait" />

        <activity
            android:name=".signingin"
            android:screenOrientation="portrait" />

        <service android:name=".userreport"
            android:exported="false"
            android:enabled="true">
        </service>

        <activity android:name=".HttpHandler"/>

        <service android:name=".managenotifications"
            android:exported="false"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name=".receiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="YES_ACTION"/>
                <action android:name="NO_ACTION"/>
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
            </intent-filter>
        </receiver>

    </application>

    </manifest>
